.titulo-body {
  padding-top: 1rem;
}

h4 {
  color: var(--cinzaUm);
  font-weight: 600;
}

.break {
  height: 3px;
  background-color: var(--cinzaUm);
  width: 15%;
}

.txt-admin {
  color: var(--cinzaDois);
  font-weight: 500;
}