@media screen and (max-width: 995px) {
  .secao-cat-img {
    display: flex !important;
    flex-direction: column !important;
  }
}

@media screen and (max-width: 770px) {
  .area-img, .area-btns {
    display: flex !important;
    flex-direction: column !important;
  }

  .area-btns {
    gap: 15px;
  }
}