.p-notificacao {
  color: var(--cinzaUm);
  font-size: large;
  font-weight: 400;
}

.desc-encomenda {
  font-weight: 400;
}

.area-img-encomenda {
  width: 100%;
}

.img-encomenda {
  height: 25rem !important;
}