.img-newNot {
  height: 2.5rem;
}

.card-notificacao {
  border: 3px solid var(--cinzaDois);
  cursor: pointer;
  transition: all 0.5s ease;
}

.card-notificacao:hover {
  transform: scale(1.05);
}

.not-descri {
  font-weight: 600;
  color: var(--cinzaDois);
  font-size: large;
  flex: 1;
}

@media screen and (max-width: 500px) {
  .card-notificacao {
    flex-direction: column;
    justify-content: center;
  }

  .not-descri {
    text-align: center;
  }
}