.area-introducao {
  background: url('../../assets/background/wave-haikei.svg');
  background-size: cover;
  background-color: var(--verdeDois);
  height: 100vh;
}

section {
  /* background-color: chocolate; */
  display: flex;
  flex-wrap: wrap;
}

.bt-verTodos {
  background-color: var(--cinzaUm);
  color: var(--brancoFundo);
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.5s ease;
}

.bt-verTodos:hover {
  transform: scale(1.15);
}

.div-img-home {
  width: 40%;
  background-color: #245056;
}

.img-home {
  width: 100%;
  height: auto;
}

.h1-home {
  color: white;
  font-family: "Griffy", system-ui;
  font-weight: 900;
}

.p-home {
  font-size: 1.3rem;
  font-family: "Griffy", system-ui;
  font-weight: 400;
}

@media screen and (max-width: 990px) {
  .div-img-home {
    width: 70% !important;
  }
}