.area-introducao {
  background: url('../../assets/background/wave-haikei.svg');
  background-size: cover;
  background-color: var(--verdeDois);
  height: 100vh;
}

section {
  /* background-color: chocolate; */
  display: flex;
  flex-wrap: wrap;
}

.bt-verTodos {
  background-color: var(--cinzaUm);
  color: var(--brancoFundo);
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.5s ease;
}

.bt-verTodos:hover {
  transform: scale(1.15);
}