.navmobile {
  display: none;
}

@media screen and (max-width: 995px) {
  .navmobile {
    display: flex;
    background-color: var(--verdeUm);
    height: 5rem;
  }
    
  .icones {
    height: 1.3rem;
  }

  .icones:hover {
    cursor: pointer;
  }

  #area-links {
    width: 100%;
  }
  
}