@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  --cinzaUm: #4a4a4a;
  --cinzaDois: #808080;
  --cinzaTres: #c2c2c2;
  --brancoFundo: #e8e8e8;
  --verdeUm: #a8e6cf;
  --verdeDois: #3c838c;
  --azulUm: #87ceeb;
  --azulDois: #2a72a6;
  --vermelhoUm: #ff6b6b;
  --vermelhoDois: #a24444;

  background-color: var(--brancoFundo);
}

.fonte-titulos {
  font-family: Fredoka, serif;
  font-weight: 600;
}

.fonte-outros {
  font-family: Fredoka, serif;
  font-weight: 400;
}

body, main, section, html {
  background-color: var(--brancoFundo);
  /* font-family: "Fredoka", serif; */
}