@media screen and (max-width: 765px) {
  .txt-banner {
    width: 80% !important;
    text-align: center;
  }

  .container-banner-interno {
    display: flex;
    flex-direction: column;
  }

  .barra-banner {
    display: none;
  }

}

.container-banner {
  width: 100%;
}

.barra-banner {
  width: 0.2rem;
  height: 13rem;

  /* background-color: var(--brancoFundo); */
  background-color: var(--brancoFundo);
}

.img-banner {
  height: 16rem;
}

.txt-banner {
  width: 40%;
  color: var(--brancoFundo);
  font-size: larger;
  font-weight: 500;
}

.gradient-background {
  background: linear-gradient(45deg,#000000,#3c838c,#a8e6cf);
  background-size: 180% 180%;
  animation: gradient-animation 15s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}